@charset "UTF-8";
.sidebar {
  position: sticky;
  top: 0;
  z-index: 90;
  display: flex; }
  .sidebar #sidebar_input {
    display: none; }
    .sidebar #sidebar_input:checked ~ .sidebar_content {
      display: flex; }
    .sidebar #sidebar_input:checked ~ .sidebar_toggle {
      left: 205px; }
    .sidebar #sidebar_input:checked ~ .sidebar_toggle .sidebar_toggle__open {
      display: none; }
    .sidebar #sidebar_input:checked ~ .sidebar_toggle .sidebar_toggle__close {
      display: block; }

.sidebar_toggle {
  width: 40px;
  height: 40px;
  background: #009578;
  border-radius: 0 5px 5px 0;
  border: none;
  z-index: 91;
  display: flex;
  position: absolute;
  left: 0; }

.sidebar_toggle__close {
  display: none; }

.sidebar_content {
  display: none;
  width: 200px;
  background: #009578;
  flex-direction: column;
  padding: 3px;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.35);
  z-index: 92;
  position: absolute; }
  .sidebar_content button {
    background-color: #009578;
    color: #ffffff;
    border: none;
    padding: 5px; }

.blot_animation {
  width: 100%;
  height: 100%;
  background-image: url("../svg/bubble_flow.svg");
  background-repeat: no-repeat; }

.water_animation {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #80c5de;
  box-shadow: inset 0 0 50px #1c637c;
  overflow: hidden; }
  .water_animation::before {
    content: "";
    width: 200%;
    height: 200%;
    background-color: #ececec;
    position: absolute;
    top: -150%;
    left: -50%;
    border-radius: 40%;
    animation: water_anim 12s linear infinite; }
  .water_animation::after {
    content: "";
    width: 204%;
    height: 204%;
    background-color: #ececec80;
    position: absolute;
    top: -150%;
    left: -52%;
    border-radius: 40%;
    animation: water_anim 12s linear infinite;
    animation-delay: 0.5s; }

@keyframes water_anim {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@font-face {
  font-family: "Noto Sans Symbols 2";
  src: url(/font/NotoSansSymbols2-Regular.ttf); }

.five_star_rating_content {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%; }

.five_star_rating {
  position: relative;
  display: flex;
  margin: 10px 0;
  flex-direction: row-reverse;
  top: 4px; }
  .five_star_rating input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden; }
    .five_star_rating input::before {
      content: "🟊";
      font-family: "Noto Sans Symbols 2";
      position: absolute;
      font-size: 40px;
      left: 4px;
      color: #010303;
      transition: 0.5s; }
    .five_star_rating input:nth-child(2n + 1)::before {
      right: 4px;
      left: initial; }
    .five_star_rating input:hover ~ ::before, .five_star_rating input:hover::before,
    .five_star_rating input:checked ~ ::before, .five_star_rating input:checked::before {
      color: #63c1f8; }

.five_star_rating__title {
  max-width: 200px;
  color: #010303;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: right;
  padding: 0 20px 0 0; }

.simple_spinner,
.simple_spinner_transparent {
  border: 4px solid #0000001a;
  border-right-color: #00aeff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: simple_spinner_spin 1s linear infinite; }

.simple_spinner_transparent {
  border: 4px solid transparent;
  border-right-color: #00aeff; }

@keyframes simple_spinner_spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.double_spinner,
.double_spinner_transparent {
  position: relative;
  width: 58px;
  height: 58px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center; }
  .double_spinner::before,
  .double_spinner_transparent::before {
    content: "";
    position: absolute;
    border: 4px solid #0000001a;
    border-right-color: #00aeff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: double_spinner_spin 5s linear infinite; }
  .double_spinner::after,
  .double_spinner_transparent::after {
    content: "";
    position: absolute;
    border: 4px solid #0000001a;
    border-right-color: #00aeff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: double_spinner_spin_reverse 3s linear infinite; }

.double_spinner_transparent::before, .double_spinner_transparent::after {
  border: 4px solid transparent;
  border-right-color: #00aeff; }

@keyframes double_spinner_spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes double_spinner_spin_reverse {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

.my_calendar {
  background: #ffffff;
  width: 100%;
  height: 100%;
  color: #000000; }
  .my_calendar ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0; }
  .my_calendar .weekday,
  .my_calendar .day,
  .my_calendar .not_day {
    font-weight: 400;
    display: flex;
    justify-content: center; }
  .my_calendar .weekday {
    font-weight: bolder;
    margin: 0 0 3px 0; }
  .my_calendar .not_day {
    font-weight: 100;
    color: #bbbbbb; }
  .my_calendar .first_day_0 {
    grid-column-start: 1; }
  .my_calendar .first_day_1 {
    grid-column-start: 2; }
  .my_calendar .first_day_2 {
    grid-column-start: 3; }
  .my_calendar .first_day_3 {
    grid-column-start: 4; }
  .my_calendar .first_day_4 {
    grid-column-start: 5; }
  .my_calendar .first_day_5 {
    grid-column-start: 6; }
  .my_calendar .first_day_6 {
    grid-column-start: 7; }

/*
Remove code below this comment
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #000000;
  color: #f8f5f4; }

header {
  display: block;
  text-align: center;
  margin: 5px 0 30px 0; }
  header h1 {
    margin: 10px 0 14px 0;
    font-weight: bolder;
    letter-spacing: 3px; }
  header h2 {
    font-size: 18px; }
  header a {
    color: yellow; }

main {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 5px 0 0px; }

section {
  display: none;
  position: absolute;
  min-height: 400px;
  width: 100%;
  flex-direction: column;
  align-items: center; }
  section h2 {
    color: #63c1f8; }

.content {
  width: 100%;
  height: 100%;
  background: #ececec; }

.wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%; }

.flex-wrap {
  flex-wrap: wrap; }

.w500 {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 500px; }

pre {
  height: 100%;
  width: 100%;
  background: #ececec;
  color: #58453e;
  overflow: scroll;
  margin: 0; }

.border {
  border: 2px solid #ffffff; }

.section_active {
  display: flex; }

.section_inactive {
  display: none; }

@media (max-width: 999px) {
  .code {
    margin-top: 55px; } }

@media (min-width: 1000px) {
  .code {
    margin-top: 0; } }
