@font-face {
  font-family: "Noto Sans Symbols 2";
  src: url(/font/NotoSansSymbols2-Regular.ttf);
}
.five_star_rating_content {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.five_star_rating {
  position: relative;
  display: flex;
  margin: 10px 0;
  flex-direction: row-reverse;
  top: 4px;

  input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;

    &::before {
      content: "🟊";
      font-family: "Noto Sans Symbols 2";
      position: absolute;
      font-size: 40px;
      left: 4px;
      color: #010303;
      transition: 0.5s;
    }

    &:nth-child(2n + 1)::before {
      right: 4px;
      left: initial;
    }

    &:hover ~ ::before,
    &:hover::before,
    &:checked ~ ::before,
    &:checked::before {
      color: #63c1f8;
    }
  }
}
.five_star_rating__title {
  max-width: 200px;
  color: #010303;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: right;
  padding: 0 20px 0 0;
}
